<header class="p-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center ">
            <h1 class="nav col-12 col-lg-auto justify-content-center me-lg-auto mb-md-0 mb-2">{{title}}</h1>
            <div class="col-12 col-lg-auto me-lg-2 mb-3 mb-lg-0 me-lg-3">
                <input type="text" class="form-control" placeholder="Suche..." [(ngModel)]="search" >
            </div>
            
            <app-button id="searchbtn" text="Suche" klasse="btn-outline-light" (btnClick) = "sendName()"></app-button>
            <app-button [routerLink]="'/Login'" text="Anmelden" id="loginbtn" klasse="btn-outline-light" ></app-button>
            <app-button id="profilbtn" text="Profil" klasse="btn-abc" (btnClick) = "getProfil()" ></app-button>
            
        </div>
    </div>
</header>