<header class="p-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center ">
            <a class="nav col-12 col-lg-auto justify-content-center me-lg-auto mb-md-0 mb-2"  [routerLink]="''">
                <img src="assets\maalti_logo-s-lila.png">
            </a>
            <div class="col-12 col-lg-auto me-lg-2 mb-3 mb-lg-0 me-lg-3">
                <input type="text" class="form-control" placeholder="Suche..." [(ngModel)]="search">
            </div>

            <app-button id="searchbtn" text="Suche" klasse="btn-outline-light" (btnClick)="sendName()"></app-button>
            <app-button text="Ab-/Anmelden" id="loginbtn" klasse="btn-outline-light"
                (btnClick)="loginlogout()"></app-button>
            <app-button id="profilbtn" text="Profil" klasse="btn-abc" (btnClick)="getProfil()"></app-button>

        </div>
    </div>
</header>