.container-fluid{
    
    height: 100vh;
    background-image: url(src\assets\pexels-felix-mittermeier-956999.jpg);
    background-size: 100% 100%;
    color: rgb(255, 255, 255);
    
    
}

.background h1{
    font-family: "Encode Sans";
    font-size: 70px;
    font-weight: 900;
    text-shadow: 2px 2px #000000;
}

.background h4{
    font-family: "Encode Sans";
    font-size: 30px;
    font-weight: 500;
    text-shadow: 2px 2px #000000;
}

img{
    width: 150px;
    height: 150px;
}