<div class="container-fluid mb-0 test ">
    <div class="mx-5 ">
        <div class="text-center pt-4 " style="color: #9151ff;">
            <h1><strong>Willkommen bei Maalti</strong> </h1>

        </div>

        <div class="text-center mt-5 mb-5">

            <p>
                Influencer Marketing ist gegenwärtiger Trend. Das Geschäft mit den Influencern hat sich bereits bei
                Unternehmen in der digitalen Welt etabliert. Die digitalen Popstars feiern sich auf Plattformen wie
                Facebook, YouTube, Instagram oder Snapchat. Deren hohe digitale Sichtbarkeit und Aktivität sorgen dafür,
                dass Follower den Influencern ein gewisses Maß an Expertenwissen zuschreiben. Wie können nun Unternehmen
                dieses Vertrauen nutzen, um Produkte über einen Influencer zu vermarkten?
                Interessant ist, dass sich das herkömmlichen Marketing sich an einem wesentlichen Punkt vom Influencer
                Marketing unterscheidet: Nämlich durch das Vertrauen der Fans. Follower sind für die Inhalte des
                Influencer
                empfänglich. Außerdem treten Influencer mit einer hohen Reichweite mittlerweile als eine
                personengebundene
                Marke auf. Sie agieren nicht nur als Person, sondern als sichtbare Markenbotschafter. Dadurch mischen
                sie
                die Karten des Online-Marketings neu und durchbrechen alte Werbemuster durch ihre Online-Präsenz.
            </p>

        </div>

        <div id="carouselExampleControls" class="carousel slide pb-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="col-12 text-center ">
                        <h3 class="" style="color: #9151ff;"><i>Was ist Maalti?</i> </h3>
                        <div class="text-center">
                            <div class="">

                                Maalti ist ein Social-Media-Dashboard, dass aktuell vor allem die Plattform YouTube
                                unterstützt.
                                Auf
                                einen
                                Blick lassen sich bei uns alle relevanten Kennzahlen und Statistiken zu allen
                                vertretenen
                                Influencern
                                anzeigen. Maalti dient daher nicht nur als Dashboard um Vergleiche durchzuführen,
                                sondern auch
                                um
                                mögliche
                                neue Werbepartner für Ihr Unternehmen zu gewinnen. Um einen noch tieferen Einblick des
                                jeweiligen
                                Influencers zu gewinnen, haben Sie die Option auch den jeweiligen Social-Media-Kanal zu
                                besuchen.
                                Um den vollen Funktionsumfang zu erleben können Sie sich intuitiv einen Account
                                erstellen.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-center mb-5">
                        <h3 class="" style="color: #9151ff;"> <i>Wer ist Maalti?</i></h3>
                        <div class="text-center">
                            <div class="">
                                <p>
                                    Wir glauben an eine Welt, in der die individuellen Transparenz und Information im
                                    Vordergrund stehen.
                                    Wir
                                    sind überzeugt: so werden Zufriedenheit, Produktivität und somit auch
                                    Unternehmenserfolg
                                    nachhaltig
                                    gesteigert.
                                    Getrieben von diesem Ansatz ist Maalti durch ein junges dreiköpfiges Entwicklerteam
                                    entstanden.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>